.TodoItem {
    background-color: rgb(65, 94, 94);
    margin: 20px;
    border-radius: 5px;
}

.TodoItem span {
    display: inline-block;
    padding: 0px 10px;
    cursor: pointer;
}

.TodoItem p {
    color: white;
    display: inline-block;
    padding: 0px 20px;
}

.TodoItem-p--complete{
    text-decoration:line-through;
}

.button_done {
    color: grey;
    background-color: rgb(201, 253, 201);
    float: left;
    border-radius: 5px;
    cursor: pointer;
}

.todoDone {
    color: green;
}

.button_done:hover {
    color:green;
}

.button_not_done {
    color: white;
    float: right;
    background-color: rgb(250, 183, 183);
    border-radius: 5px;
}

.button_not_done:hover{
    color:red;
}